#main-weather-data {
  color: #ffffff;
  display: flex;
  margin-top: 10px;
}

.leftside-current-weather {
  display: block;
  text-align: left;
  width: 100%;
  margin-left: 10px;
}

.rightside-current-weather{
  display: block;
  text-align: right;
  width: 100%;
  margin-right: 10px;
}
