.forecast-info {
  display: flex;
}

.forecast-detail {
  flex: 1;
  height: 19.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.forecast-detail::-webkit-scrollbar {
  width: 1.1rem;
}

.forecast-detail::-webkit-scrollbar-track {
  padding: 0;
  margin-bottom: 1px;
  background: transparent;
  border-radius: 1px;
}

.forecast-detail::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 0;
  border-color: #ffffff;
}

.forecast-detail::-webkit-scrollbar-thumb:hover {
  background: #142a2f;
}
