#form {
  display: flex;
  place-content: center;
  justify-content: space-around;
  margin-top: 2%;
}

.form-weather {
  display: inline;
  float: left;
}

.input-location {
  background: transparent;
  border-radius: 1px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-family: "Baloo Tammudu 2", cursive;
}

.input-location:hover {
  border-bottom-color: #80bdff;
}

.input-location:focus {
  box-shadow: inset 0 0 0px 0;
  background: transparent;
  border-radius: 1px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.btn-weather {
  display: inline;
  float: right;
}

.btn-get-weather {

}

.btn-get-weather:hover {
 
}

.btn-get-weather:focus {
}
