/* ############### Fonts ############### */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
/* font-family: "Cinzel", serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
/* font-family: "Open Sans Condensed", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
/* font-family: 'Baloo Tammudu 2', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Lancelot&display=swap");
/* font-family: 'Lancelot', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap");
/* font-family: 'Sulphur Point', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
/* font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
/* font-family: 'Dosis', sans-serif; */

/* ############### Default Style ############### */

* {
  font-family: "Sulphur Point", sans-serif;
}

html,
#root,
body {
  height: 100%;
  text-align: center;
}

body {
  background-image: url(Asset/Background/Background-6.jpg);
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  background: transparent;
  border-radius: 0;
  border-color: #ffffff;
}

/* ############### App Style ############### */
.btn:hover {
  border-color: #80bdff;
  background-color: transparent;
  color: #80bdff;
}

.btn:not(:disabled):not(.disabled):active {
  border-color: #80bdff;
  background-color: transparent;
  color: #80bdff;
}

.btn:focus-visible {
  box-shadow: inset 0 0 0px 0;
  background: transparent;
  border-radius: 0;
  border-color: #3adde2;
  color: #3adde2;
}

.btn:focus-within {
  box-shadow: inset 0 0 0px 0;
  background: transparent;
  border-radius: 0;
  color: #3adde2;
  border-color: #3adde2;
}

#main {
  filter: drop-shadow(3px 4px 9px #000000);
  /* border: 3px solid #184aa3; */
  text-align: center;
}

#background-weather {
  background-image: url(Asset/Background/background-weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.blur-background-weather {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.weather-info {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  bottom: 20%;
  color: #ffffff;
  margin-left: 5rem;
}

.temperature {
  font-size: 100px;
  margin-right: 5px;
}

.date {
  display: block;
  background: #ffffff;
  color: #000000;
  mix-blend-mode: screen;
  padding: 0 10px;
  font-family: "Dosis", sans-serif;
}

.location {
  display: flex;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
}

.img-weather {
  width: 100%;
}

.forecast-data {
  color: #ffffff;
  display: flex;
  margin-top: 10px;
}

.leftside-forecast-weather {
  display: block;
  text-align: left;
  width: 100%;
  margin-left: 10px;
}
.rightside-forecast-weather {
  display: block;
  text-align: right;
  width: 100%;
  margin-right: 10px;
}

.btn-reset-weather {
}
